body {
  font-family: "Playfair Display", serif;
  background: linear-gradient(to bottom, white, #fefae0);
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.letter {
  width: 500px;
  height: 350px;
  position: relative;
  transition-duration: 1s;
  perspective: 1500px;
  border-radius: 15px;
}

input {
  display: none;
}

.cover, .back-cover {
  background-color: #588157;
  width: 100%;
  height: 100%;
  border-radius: 0 0 15px 15px;
  box-shadow: 0 0 5px rgba(41, 41, 41, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  transform-origin: top center;
  transform-style: preserve-3d;
}

.cover {
  position: absolute;
  z-index: 4;
  transition: transform 1s;
}

.cover label {
  width: 100%;
  height: 100%;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.closed-content, .open-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.open-content {
  display: none;
  transform: rotateX(180deg);
}

#checkbox-cover:checked ~ .letter .cover .closed-content {
  display: none;
}

#checkbox-cover:checked ~ .letter .cover .open-content {
  display: flex;
}

.cover p {
  font-family: "Charm", cursive;
  font-size: 40px;
  font-weight: bold;
  text-align: center;
  color: white;
}

.cover img {
  max-width: 80px;
  max-height: 80px;
}

.back-cover {
  position: relative;
  z-index: -1;
}

.mail {
  position: absolute;
  background-color: #fefae0;
  margin: 10px 0 0 10px;
  width: 480px;
  height: 320px;
  border-radius: 15px;
  transform-origin: top center;
  transform-style: preserve-3d;
  transform: rotateX(0deg);
  transition-duration: 1.5s;
}

.front-mail {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  box-sizing: border-box;
  padding-top: 15px;
  color: #588157;
}

#checkbox-cover:checked ~ .letter {
  transform: translateY(150px);
}

#checkbox-cover:checked ~ .letter .cover {
  transition: transform 1.5s, z-index 0.5s 0.5s;
  transform: rotateX(180deg);
  z-index: 1;
}

#checkbox-cover:checked ~ .letter .mail {
  box-shadow: 0 0 3px rgba(99, 98, 98, 0.5);
}

.front-mail p {
  font-size: 16px;
  text-align: center;
  margin: 10px 0 0 0;
}

.front-mail .event {
  font-family: "Dancing Script", cursive;
  font-size: 22px;
  font-weight: bold;
}

.front-mail .date, .front-mail .venue {
  font-family: "Playfair Display", serif;
  font-size: 14px;
}

.front-mail .date, .front-mail .time {
  font-style: italic;
}

@media (max-width: 768px) {
  #checkbox-cover:checked ~ .letter {
    transform: translateY(160px);
  }

  .cover p {
    font-size: 30px;
  }

  .mail {
    width: 90%;
    max-width: 400px;
    margin: 15px 0 0 18px;
  }

  .front-mail p {
    font-size: 14px;
  }

  .front-mail .event {
    font-size: 18px;
  }
}
